<div class="inline-header green">
    <h5>Количество верных ответов: </h5>
    <h4>{{correctAnswers}}</h4>
</div>
<div class="inline-header right red">
    <h5>Количество неверных ответов: </h5>
    <h4>{{wrongAnswers}}</h4>
</div>