<div class="inline-header">
  {{#link-to "application"}}
      <h2>INTGame</h2>
  {{/link-to}}
</div>
<div class="inline-header">
    <div class="menu-item">
      {{#link-to "games"}}
         Игры
      {{/link-to}}
    </div>
    <div class="menu-item">
      {{#link-to "profile"}}
          Профиль
      {{/link-to}}
    </div>
</div>
<div class="inline-header">
  {{#if authManager.isAuthenticated}}
    <div class="auth-button">
      <button {{action 'logout'}}>Logout</button>
    </div>
  {{else}}
    <div class="auth-button">
      <button {{action 'login'}}>Login</button>
      <button {{action 'register'}}>Register</button>
    </div>
  {{/if}}
</div>
