<h2>INTGame</h2>
<div>
  {{#link-to "games"}}
      all games
  {{/link-to}}
  {{#link-to "profile"}}
      profile
  {{/link-to}}
</div>
<div>
  {{#if authManager.isAuthenticated}}
    <button {{action 'logout'}}>Logout</button>
  {{else}}
      <button {{action 'login'}}>Login</button>
      <button {{action 'register'}}>Register</button>
  {{/if}}
</div>
