<div class="auth-form">
    <h2>Register</h2>
    <form {{action 'register' on='submit'}}>
        <div class="left inline-header">
        <label for="login">Login</label>
        </div>
      {{input value=login placeholder='Login'}} <br>
        <div class="left inline-header">
        <label for="password">Password</label>
        </div>
      {{input value=password placeholder='Password' type='password'}} <br>
        <button class="button" type="submit">Register</button>
    </form>
  {{#if errorMessage}}
      <div class="errors">
          <p>
              <strong>Registration failed:</strong> <code>{{errorMessage}}</code>
          </p>
      </div>
  {{/if}}
</div>