<form {{action 'register' on='submit'}}>
    <label for="login">Login</label>
  {{input value=login placeholder='Login'}} <br>
    <label for="password">Password</label>
  {{input value=password placeholder='Password' type='password'}} <br>
    <button type="submit">Register</button>
</form>