<h1>{{model.name}}</h1>
<div class="game-field">
  {{game-statistics correctAnswers=correctAnswer wrongAnswers=wrongAnswer}}
  {{question-component question=(current-question model.questions questionsNumber) onAnswer="answer"}}
</div>
{{outlet}}
